[Unit]
Description=lora-app-server
After=mosquitto.service postgresql.service

[Service]
User=pi
Group=pi
ExecStart=/opt/LoRa-forwarder/lora-app-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
